body {
    font-family: 'Chilanka', "cursive";
    background-color: #eee9e9;
    height:auto;
    color: #333;
    margin: 20px;
    line-height: 2em;
  }

#title{
    display: flex;
    font-size: 2em;
    color:#424242;
    justify-content: center;
}

.header{
    color: #504f4f;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: oblique;
    font-size: 0.75em;
}

.imgplato {
    width: 300px;
}

.img1 {
    margin:auto;
    width: fit-content;
    box-sizing: border-box;
    padding: 0.75em 3em 0em 3em;
    background-color: #fcfbfb;
}

.presentacion {
    display: flex;
    justify-content: center;
}

.preparar {
    width: fit-content;
    display: flex;
    padding: 1em;
}

.ingredientesypreparacion {
    padding: 1em;
}

.lsol{
    columns: 30cap;
}

.link {
    text-align: end;
    padding: 1em;
}

a:link {
    background-color: lightblue;
}

a:hover {
    background-color: #607f8b;
}